# System
nul
thumbs.db
.DS_Store

# Godot
.godot/
*.translation

# OS
.vscode/

# Artifacts
artifacts/

# Godot-specific
.import/
export.cfg
export_presets.cfg
*.tmp

# C#-specific
*.csproj
*.sln
bin/
obj/
.vs/
*.user

# Excel temp files
~$*.xlsx
*.xlk
*.xlsb

# Build outputs
build/
dist/
releases/
